<!--base.html -->

<html>
    <head>
        <title> Events </title>
</head>
<body>
    <ul>
        <li><a href="/events">Home</a></li>
    </ul>
    <hr/>
    {% block content %} 
    <!-- where we are going to insert another template -->
    {% endblock %}
</body>
</html>