{% extends "base.jinja" %} {% block content %}
<h1> Events: </h1>
<form action="/events" method="post">
    <label for="description">Event description: </label>
    <input type="text" name="description" id="description"/>
    <br>

    <label for="date"> Event date: </label>
    <input type="text" name="date" id="date"/>
    <br>

    <label for="number"> Event number: </label>
    <input type="number" name="event_number" id="event_number"/>
    <br>

    <label for="guests"> Number of guests: </label>
    <input type="number" name="guest_number" id="guest_number" min="2" max="200"/>
    <br>

    <label for="location"> Location: </label>
    <input type="text" name="room_location" id="room_location"/>
    <br>

    <input type="submit" value="Add Event"/>
</form>

<ul>
{% for event in events %}  
    <li>
        <b>{{ event.description }}</b> 
        <br>Date: {{ event.date }} 
        <br>Event number: {{ event.event_number }} 
        <br>Number of guests: {{ event.guest_number }} 
        <br>Location: {{ event.room_location }}
    </li>
{% endfor %}
</ul>
{% endblock %}
